@using TalabaTask.Entities;
@model List<Teacher>


<h1>All Students</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">GetScienceTop10Student</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var teacher = Model[i];

            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@teacher.FirstName</td>
                <td>@teacher.LastName</td>
                <td>@teacher.PhoneNumber</td>
                <td><a asp-action="GetScienceTop10Student" asp-controller="Science" asp-route-teacherId="@teacher.Id">GetScienceTop10Student</a></td>
            </tr>
        }
    </tbody>
</table>
